<form>
  <label for="title">Title</label><br>
  {{input value=title id="title" class="new-recipe"}}<br>

  <label for="ingredients">Ingredients</label><br>
  {{input value=ingredients id="ingredients" class="new-recipe"}}<br>

  <label for="directions">Directions</label><br>
  {{textarea value=directions id="directions" class="new-recipe" rows="8"}}<br><br>

  <button type="button" {{action 'newRecipe'}}>Save</button>
</form>
