<h4>{{#link-to 'recipe' recipe.id}}{{recipe.title}}{{/link-to}}</h4>
<img src={{recipe.image}} class="tile-img"/>
<h5>rating: {{comment-rating recipe=recipe}}</h5>
<button type="button" class="btn btn-primary-outline btn-sm" {{action 'favorite' recipe}}>add to favs</button>
