
<div class="row">
  <div class="col-xs-4">
    <h4>favorites</h4>
    {{sidebar-recipes}}
  </div>
  <div class="col-xs-8">
    <h4>recipes</h4>
    {{recipe-tiles recipes=model.recipes}}
  </div>
</div>
