
<div class="row">
  <div class="col-xs-3">
    <h4>favorites</h4><hr>
    {{sidebar-recipes}}
  </div>
  <div class="col-xs-9">
    <h4>recipes</h4><hr>
    {{recipe-tiles recipes=model.recipes}}
  </div>
</div>
